.outletContent{
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 10rem;
}

.outlets__container{
    width: 95%;

    margin-top: 6rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width:1350px){
    .outlets__container{
        grid-template-columns: 1fr;
    }
}