.outletContent{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
}
.border-header{
    width: 1%;
    height: 14%;
    background-color: #4D4D4D;
    border-radius: 20px;
}