.leftComents{
    grid-column: span 3;

    border-right: 4px solid #808080;

    height: 100%;
}

.leftComents > *{
    padding-bottom: 3rem;
}

@media screen and (max-width:950px){
    .leftComents > *{
        padding-bottom: 1rem;
    }
}