.button{
    border-radius: 50px;

    border: none;
    outline: none;

    font-size: 1.5rem;

    transition: .3s;
}

.button--discount{
    width: 16rem;
    height: 5rem;
    font-size: 2rem;
}

.button--product{
    width: 19rem;
    height: 3.25rem;
    font-size: 2rem;
}

@media screen and (max-width:1080px) {
    .button--discount{
        width: 13rem;
        height: 4rem;
        font-size: 1.5rem;
    }
}