.stars__container{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 90%;
    margin: auto;
}

.stars{
    font-size: 2.5rem;

    color: #D88200;
}

.weeks{
    font-size: 1.5rem;
    font-family: InterLight;
    color: #4D4D4D;
}