.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    height: 1600px;
}

@media screen and (max-width:1225px){
    .container{
        height: 2000px;
        grid-template-rows: repeat(3, 1fr);
    }
}