.bannerPage{
    height: 50vw;
}

.bannerPage > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: RobotoBold;
    color: #ffffff;
}

.bannerPage__title{
    font-size: 3vw;
    margin-bottom: 2vw;
}

.bannerPage__sub{
    font-size: 8vw;
    text-transform: uppercase;
}