.boxMiniMenu {
    display: grid;
    grid-template-areas:
        "image title title title price"
        "image sub sub sub price"
    ;

    border-top: .25rem dotted #979797;

    align-items: center;

    height: 100%;
    padding: 1rem 1rem;

    box-sizing: border-box;
}

.boxMiniMenu:nth-child(5),
.boxMiniMenu:nth-child(6) {
    border-bottom: .25rem dotted #979797;
}

.boxMiniMenu__image {
    grid-area: image;
    width: 80%;
}

.boxMiniMenu__title {
    grid-area: title;

    font-family: RobotoMedium;
    color: #000;
    font-size: 1.5vw;

    align-self: flex-end;
}

.boxMiniMenu__sub {
    grid-area: sub;

    font-family: RobotoRegular;
    color: #414141;
    font-size: 1.25vw;
}

.boxMiniMenu__price {
    grid-area: price;

    font-family: RobotoBold;
    color: #C90000;
    font-size: 1.5vw;

    justify-self: flex-end;
}

@media screen and (max-width:950px) {
    .boxMiniMenu:nth-child(5) {
        border-bottom: none;
    }

    .boxMiniMenu__title {
        font-size: 4vw;

        width: 60vw;
    }

    .boxMiniMenu__sub {
        font-size: 2vw;
    }

    .boxMiniMenu__image {
        width: 10vw;
        height: 10vw;

        object-fit: contain;

        justify-self: flex-start;

        border-radius: 50%;
    }

    .boxMiniMenu__price {
        font-size: 2.25vw;
    }
}

@media screen and (max-width:600px) {
    .boxMiniMenu {
        padding-right: 0;
        padding-left: 0;
    }

    .boxMiniMenu__image {
        width: 20vw;
        height: 20vw;
    }

    .boxMiniMenu__title {
        font-size: 4vw;

        width: 55vw;
    }
}

@media screen and (max-width:400px) {
    .boxMiniMenu {
        grid-template-areas:
            "image title title"
            "image sub sub"
            "price price price"
        ;

        height: 50vw;
    }

    .boxMiniMenu__image{
        height: 25vw;
        width: 25vw;

        border-radius: 50%;
    }

    .boxMiniMenu__title{
        font-size: 4vw;
    }

    .boxMiniMenu__sub{
        font-size: 3vw;
    }

    .boxMiniMenu__price{
        width: 100%;

        text-align: center;

        font-size: 4vw;
    }
}