.content{
    width: 690px;
    height: 740px;

    display: grid;
    grid-template-columns: 0.6fr 1.4fr;

    color: #ffffff;

    padding-left: 2rem;

    box-sizing: border-box;
}

.subPrice{
    font-size: 1.3rem;
    font-family: 'RobotoRegular';
    font-weight: bolder;
    grid-column: span 2;
    height: min-content;
}

.title{
    font-size: 7rem;
    grid-column: span 2;
    height: min-content;
}


.discountTitle{
    margin-top: 3rem;
    font-size: 2.5rem;
    width: 80%;
    height: min-content;
}

.buttonPrice{
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: min-content;
}


@media screen and (max-width:1800px){
    .content{
        width: 800px;
    }
    .subPrice{
        font-size: 2rem;
        margin-bottom: -2rem;
    }
    .buttonPrice{
        margin-left: -4rem;
        margin-top: -3rem;
    }
    .discountTitle{
        margin-left: 0rem;
        font-size: 2.5rem;
    }
}

@media screen and (min-width:1800px){
    .content{
        width: 1000px;
    }
    .discountTitle{
        margin-left: -4rem;
        font-size: 2.5rem;
    }
    .buttonPrice{
        margin-left: -9rem;
        margin-top: -3rem;
    }
}