.circle {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle--discount {
    flex-direction: column-reverse;
}

.circle--discount p:first-child {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 2rem;
}

.circle--discount p:last-child {
    font-size: 5rem;
}

.circle--price {
    flex-direction: column;
}

.circle--yellow {
    color: #ffffff;
    background-color: #FAAB34;
}

.circle--white {
    color: #000000;
    background-color: #ffffff;
}

.circle--green {
    background-color: #017E0D;
    color: #ffffff;
}

.circle__text {
    font-size: 1.4rem;
    line-height: 1.5;
}

.circle__price {
    font-size: 3.5rem;
}

@media screen and (max-width:1080px) {
    .circle--discount {
        width: 150px;
        height: 150px;
    }
    .circle--discount p:first-child {
        font-family: 'RobotoRegular', sans-serif;
        font-size: 1.5rem;
    }
    
    .circle--discount p:last-child {
        font-size: 4rem;
    }
}

@media screen and (max-width:815px) {
    .circle--discount {
        width: 125px;
        height: 125px;
    }
    .circle--discount p:first-child {
        font-family: 'RobotoRegular', sans-serif;
        font-size: 1rem;
    }
    
    .circle--discount p:last-child {
        font-size: 3rem;
    }
}

@media screen and (max-width:660px){
    .circle--discount {
        width: 90px;
        height: 90px;
    }
    .circle--discount p:first-child {
        font-family: 'RobotoRegular', sans-serif;
        font-size: .75rem;
    }
    
    .circle--discount p:last-child {
        font-size: 2.75rem;
    }
}

@media screen and (max-width:600px){
    .circle__text {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    
    .circle__price {
        font-size: 3rem;
    }
    
    .circle--price{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:425px){
    .circle__text {
        font-size: 1rem;
        line-height: 1.5;
    }
    
    .circle__price {
        font-size: 2rem;
    }
    
    .circle--price{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:400px){
    .circle--discount {
        width: 70px;
        height: 70px;
        margin-left: 2rem;
    }
    .circle--discount p:first-child {
        font-family: 'RobotoRegular', sans-serif;
        font-size: .5rem;
    }
    
    .circle--discount p:last-child {
        font-size: 2.25rem;
    }
}





