.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu--navigation {
    padding-right: 3rem;

    box-sizing: border-box;
}

.header__link {
    text-decoration: none;
}

.header__item {
    font-size: 1.2em;
}

.header__item--active {
    color: #ffffff;
}

@media screen and (min-width:1301px) {
    .hamburger__menu {
        display: none;
    }
}

@media screen and (max-width:1300px) {
    .header__menu {
        order: 3;
    }
    .header__menu{
       order: 3;
    }
    .header__menu > *:not(.hamburger__menu){
        display: none;
    }
    .hamburger__menu{
        color: #C8BFBF;
    }
}