.contentAppDiscount{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contentAppDiscount__container{
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    justify-content: center;

    height: 30vw;

    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.contentAppDiscount__title{
    grid-column: span 2;
    
    color: #ffffff;
    font-size: 5vw;
    font-family: RobotoExtraBold;

    width: 100%;
}

.contentAppDiscount__sub{
    grid-column: span 2;

    color: #ffffff;
    font-family: RobotoMedium;
    font-size: 2.5vw;

    align-self: flex-start;
}

.contentAppDiscount__icon{
    justify-self: center;
}

.contentAppDiscount__icon:hover{
    cursor: pointer;
    filter: brightness(.7);
}

.contentAppDiscount__icon--IOS{
    width: 80%;
}

.contentAppDiscount__icon--playStore{
    width: 100%;
}

@media screen and (max-width:850px){
    .contentAppDiscount__title{
        font-size: 8vw;
        text-align: center;
    }
    .contentAppDiscount__sub{
        padding: 6vw 0;
        font-size: 4vw;
        text-align: center;
    }
}
