.header{
    background-color: #00000000; /*#069815*/
    font-size: 1.5em;

    padding: 20px 20px;

    display: grid;
    grid-template-columns: auto 1.4fr 0.4fr;

    position: absolute;
    z-index: 99;

    width: 100%;
    box-sizing: border-box;
}

.header__logo{
    padding-right: 5em;

    width: 200px;
}

@media screen and (min-width:1700px){
    .header{
        grid-template-columns: auto 0.7fr 0.2fr;
    } 
}

@media screen and (max-width:1350px){
    .header{
        grid-template-columns: auto 3.5fr 1fr;
    }
}

